body, html{
    background-color: #ddd;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form{
    width: 500px;
    height: 500px;
    background-color: white;
}
.form input{
    width: 70%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgb(151, 151, 151);
    resize: none;
    border: 1px solid rgb(209, 209, 209);
}
.form input:hover {
    transition: border-color 0.3s ease-in-out;
    border: 1px solid rgb(136, 136, 136);
}
.form input:focus {
    outline: none;
    border: 1px solid rgb(34, 34, 34);
}